
@{
    ViewBag.Title = "Rescue";
}

<h2>Rescue</h2>

<form method="post" action="SaveMe/SaveMe/Rescue">
    <p>Votre numéro de registre national</p><input type="text" />
    <button>Save Me</button>
</form>

