
@{
    ViewBag.Title = "Accueil";
}

<button>Rescue</button>

<div id="container">
    <div class="row">
        <div class="rubrique">
            <div class="bs-example">
                <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                         <!--     <h2>Slide 1</h2>  -->
                            <div class="carousel-caption"><img src="~/images/consultation.jpg" width="350" height="180">
                                <h3>Consultations</h3>
                               
                            </div>
                        </div>
                        <div class="item">
                          <!--  <h2>Slide 2</h2> -->
                            <div class="carousel-caption"><img src="~/images/examens.jpg" width="350" height="180">
                                <h3>Examens</h3>
                               
                            </div>
                        </div>
                        <div class="item">
                            <!-- <h2>Slide 3</h2> -->
                            <div class="carousel-caption"><img src="~/images/rdv.jpg" width="350" height="180">
                                <h3>Rendez-vous</h3>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2>A propos</h2>

    <div id="propos">
        <div class="colleft">
            <img src="~/images/moi.jpg" height="200" width="200">
        </div>
        <div class="colright">
            <p>
                Il est absurde de prétendre que la mer soit faite pour porter des armadas et des dauphins.
                Certes, elle le fait – mais en conservant sa liberté. Il est également absurde de prétendre que l’homme soit fait pour autre chose que pour vivre.
                Certes, il approvisionne des machines et il écrit des livres, mais il pourrait tout aussi bien faire autre chose.
            </p>
        </div>
    </div>

    <h2>Outils</h2>

    <div id="outils">
        <p>
            <div class="user"><a href="~/User/CreateUser"><img src="~/images/FolderUser.jpg" height="200" width="200"></a></div>
            <div class="agenda"><a href="~/Agenda"><img src="~/images/FolderAgenda.jpg" height="200" width="200"></a></div>
        </p>
    </div>
</div>

